<div class="w-9/10 max-w-200 m-auto mt-10 flex">
	<div class="flex-auto text-left">
		<p>
			github:
			<a
				class="text-blue-600 hover:text-blue-800"
				href="https://github.com/novakd14"
				>https://github.com/novakd14</a
			>
		</p>
	</div>
	<div class="flex-auto text-right">
		<p>made by novakd14</p>
		<p>(friend of Froggy)</p>
	</div>
</div>
