<div class="m-auto w-min whitespace-nowrap text-center">
	<h1>Astro test</h1>
	<div>
		<p class="inline mr-1">have fun with Froggy</p>
		<img src="frog.png" alt="Froggy" class="size-10 inline" />
	</div>
</div>
