@import "tailwindcss";

@layer base {

	body {
		background-image: url('/Froggy-Blog/background_pond.png');
		background-size: cover;
		background-position: left;
		background-repeat: no-repeat;
		min-height: 100vh;
	}

	h1 {
		font-size: 100px;
		font-weight: bold;
	}

	h2 {
		font-size: 40px;
		font-weight: bold;
	}

}
